{
  "project_info": {
    "project_number": "238865893799",
    "project_id": "gen-lang-client-0447702787",
    "storage_bucket": "gen-lang-client-0447702787.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.teampulse.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyAaOoK89yBNOqsYYyMRUuNYHhiS4gnVmg0"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
